@page
@model RagnaTours.GetAllExhibitionsModel
@{
    ViewData["Title"] = "GetAllExhibitions";
}
<h1>Udstillinger</h1>
<p style="display:inline-block">
    <a href="/Exhibition/CreateExhibition" class="btn btn-success" role="button">Tilføj udstilling</a>
</p>

<form style="display:inline-block">
    <p>
        Søg: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filtrer" align: right;/>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Tema
            </th>
            <th>
                Billede
            </th>
            <th>
                Ændrer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exhibitions)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    @item.Value.ThemeName
                </td>
                <td>
                    <img src="~/Images/Exhibitions/@item.Value.ImageName" width="60" height="70">
                </td>
                <td>
                    <p>
                        <a asp-page="EditExhibition" asp-route-id="@item.Key">Opdatér</a> |
                        <a asp-page="DeleteExhibition" asp-route-id="@item.Key">Fjern</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
    
</table>


