@page
@model RagnaTours.GetAllThemesModel
@{
    ViewData["Title"] = "GetAllThemes";
}
<h1>Temaer</h1>

<p>
    <a asp-page="CreateTheme">Tilføj tema</a>
</p>

<form>
    <p>
        Søg: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filtrer" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Billede
            </th>
            <th>
                Ændrer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Themes)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    <img src="~/Images/Themes/@item.Value.ImageName" width="60" height="70">
                </td>
                <td>
                    <p>
                        <a asp-page="EditTheme" asp-route-id="@item.Key">Opdatér</a> |
                        <a asp-page="DeleteTheme" asp-route-id="@item.Key">Fjern</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>

</table>